button {
  display: flex;
 	justify-content: center;  
  align-items: center; 
}

body {
  display: flex;  /* defaults to row layout */
 	justify-content: center;  /* centers items horizontally in row layout */
 	align-items: center;  /* centers vertically in row layout */
 	/* flex-direction: column; will set layout to column instead of row */
  font-family: 'Circularstd book', sans-serif;
}

